@page
@model TallerMVCWebApi.Areas.Identity.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Login.UserName"></label>
                <input asp-for="@Model.Login.UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Login.Password"></label>
                <input asp-for="@Model.Login.Password" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
            <p>
                Para ingresar debe usar las siguientes credenciales:
            </p>
            <p>
                Usuario: <b>admin@pica.com</b>
            </p>
            <p>
                Password: <b>admin</b>
            </p>
        </form>
    </div>
</div>